In [275]:
import math
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, KFold, cross_val_score 
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score

In [276]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import CategoricalNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier

In [277]:
from tensorflow import keras
from keras.utils import to_categorical

In [278]:
pd.set_option('display.max_columns', None)

# Task 3

In [279]:
df = pd.read_csv('ODI_Match_info.csv')

In [280]:
df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1389389,2023/24,Indore,2023/09/24,India,Australia,Australia,field,D/L,1,India,99,0,SS Iyer,"Holkar Cricket Stadium, Indore",J Madanagopal,HDPK Dharmasena,KN Ananthapadmanabhan
1,1336129,2023,Nottingham,2023/09/23,England,Ireland,Ireland,field,normal,0,England,48,0,WG Jacks,"Trent Bridge, Nottingham",DJ Millns,RJ Tucker,PR Reiffel
2,1395701,2023,Dhaka,2023/09/23,New Zealand,Bangladesh,New Zealand,bat,normal,0,New Zealand,86,0,IS Sodhi,"Shere Bangla National Stadium, Mirpur",M Erasmus,Sharfuddoula,Nitin Menon
3,1389388,2023/24,Chandigarh,2023/09/22,Australia,India,India,field,normal,0,India,0,5,Mohammed Shami,"Punjab Cricket Association IS Bindra Stadium, ...",KN Ananthapadmanabhan,HDPK Dharmasena,J Madanagopal
4,1395700,2023,Dhaka,2023/09/21,New Zealand,Bangladesh,Bangladesh,field,normal,0,NaN,0,0,NaN,"Shere Bangla National Stadium, Mirpur",Nitin Menon,Sharfuddoula,M Erasmus

In [281]:
df3 = pd.read_csv('matches.csv')

In [282]:
df3.head()

,season,team1,team2,date,match_number,venue,city,toss_winner,toss_decision,player_of_match,umpire1,umpire2,reserve_umpire,match_referee,winner,winner_runs,winner_wickets,match_type
0,2023/24,England,New Zealand,2023/10/05,1,Narendra Modi Stadium,Ahmedabad,New Zealand,field,R Ravindra,HDPK Dharmasena,Nitin Menon,Sharfuddoula,J Srinath,New Zealand,NaN,9.0,Group
1,2023/24,Pakistan,Netherlands,2023/10/06,2,Rajiv Gandhi International Stadium,Hyderabad,Netherlands,field,Saud Shakeel,AT Holdstock,CM Brown,PR Reiffel,JJ Crowe,Pakistan,81.0,NaN,Group
2,2023/24,Afghanistan,Bangladesh,2023/10/07,3,Himachal Pradesh Cricket Association Stadium,Dharamsala,Bangladesh,field,Mehedi Hasan Miraz,JS Wilson,HDPK Dharmasena,M Erasmus,AJ Pycroft,Bangladesh,NaN,6.0,Group
3,2023/24,South Africa,Sri Lanka,2023/10/07,4,Arun Jaitley Stadium,Delhi,Sri Lanka,field,AK Markram,RK Illingworth,Sharfuddoula,AG Wharf,J Srinath,South Africa,102.0,NaN,Group
4,2023/24,Australia,India,2023/10/08,5,MA Chidambaram Stadium,Chennai,Australia,bat,KL Rahul,CB Gaffaney,RA Kettleborough,AT Holdstock,RB Richardson,India,NaN,6.0,Group

In [283]:
df3.shape

(32, 18)

In [284]:
df.columns.to_list(), len(df.columns)

(['id',
  'season',
  'city',
  'date',
  'team1',
  'team2',
  'toss_winner',
  'toss_decision',
  'result',
  'dl_applied',
  'winner',
  'win_by_runs',
  'win_by_wickets',
  'player_of_match',
  'venue',
  'umpire1',
  'umpire2',
  'umpire3'],
 18)

In [285]:
df3.columns.to_list(), len(df3.columns)

(['season',
  'team1',
  'team2',
  'date',
  'match_number',
  'venue',
  'city',
  'toss_winner',
  'toss_decision',
  'player_of_match',
  'umpire1',
  'umpire2',
  'reserve_umpire',
  'match_referee',
  'winner',
  'winner_runs',
  'winner_wickets',
  'match_type'],
 18)

In [286]:
df3 = df3.drop(['match_type','winner_runs','winner_wickets','match_referee'], axis = 1)
df = df.drop(['dl_applied','win_by_runs','win_by_wickets','result'], axis = 1)

In [287]:
df.columns.to_list(),df3.columns.to_list(),len(df.columns),len(df3.columns)

(['id',
  'season',
  'city',
  'date',
  'team1',
  'team2',
  'toss_winner',
  'toss_decision',
  'winner',
  'player_of_match',
  'venue',
  'umpire1',
  'umpire2',
  'umpire3'],
 ['season',
  'team1',
  'team2',
  'date',
  'match_number',
  'venue',
  'city',
  'toss_winner',
  'toss_decision',
  'player_of_match',
  'umpire1',
  'umpire2',
  'reserve_umpire',
  'winner'],
 14,
 14)

In [288]:
df3.head(2)

,season,team1,team2,date,match_number,venue,city,toss_winner,toss_decision,player_of_match,umpire1,umpire2,reserve_umpire,winner
0,2023/24,England,New Zealand,2023/10/05,1,Narendra Modi Stadium,Ahmedabad,New Zealand,field,R Ravindra,HDPK Dharmasena,Nitin Menon,Sharfuddoula,New Zealand
1,2023/24,Pakistan,Netherlands,2023/10/06,2,Rajiv Gandhi International Stadium,Hyderabad,Netherlands,field,Saud Shakeel,AT Holdstock,CM Brown,PR Reiffel,Pakistan

renaming columns in order to append dataframes

In [289]:
df3 = df3.rename(columns={"match_number":"id","reserve_umpire":"umpire3"})
df3.columns.to_list()

['season',
 'team1',
 'team2',
 'date',
 'id',
 'venue',
 'city',
 'toss_winner',
 'toss_decision',
 'player_of_match',
 'umpire1',
 'umpire2',
 'umpire3',
 'winner']

reordering columns in order to append dataframes

In [290]:
df3 = df3[df.columns]

In [291]:
df3.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,winner,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2023/24,Ahmedabad,2023/10/05,England,New Zealand,New Zealand,field,New Zealand,R Ravindra,Narendra Modi Stadium,HDPK Dharmasena,Nitin Menon,Sharfuddoula
1,2,2023/24,Hyderabad,2023/10/06,Pakistan,Netherlands,Netherlands,field,Pakistan,Saud Shakeel,Rajiv Gandhi International Stadium,AT Holdstock,CM Brown,PR Reiffel
2,3,2023/24,Dharamsala,2023/10/07,Afghanistan,Bangladesh,Bangladesh,field,Bangladesh,Mehedi Hasan Miraz,Himachal Pradesh Cricket Association Stadium,JS Wilson,HDPK Dharmasena,M Erasmus
3,4,2023/24,Delhi,2023/10/07,South Africa,Sri Lanka,Sri Lanka,field,South Africa,AK Markram,Arun Jaitley Stadium,RK Illingworth,Sharfuddoula,AG Wharf
4,5,2023/24,Chennai,2023/10/08,Australia,India,Australia,bat,India,KL Rahul,MA Chidambaram Stadium,CB Gaffaney,RA Kettleborough,AT Holdstock

In [292]:
df[df['season']=="2023/24"]

,id,season,city,date,team1,team2,toss_winner,toss_decision,winner,player_of_match,venue,umpire1,umpire2,umpire3
0,1389389,2023/24,Indore,2023/09/24,India,Australia,Australia,field,India,SS Iyer,"Holkar Cricket Stadium, Indore",J Madanagopal,HDPK Dharmasena,KN Ananthapadmanabhan
3,1389388,2023/24,Chandigarh,2023/09/22,Australia,India,India,field,India,Mohammed Shami,"Punjab Cricket Association IS Bindra Stadium, ...",KN Ananthapadmanabhan,HDPK Dharmasena,J Madanagopal
6,1373575,2023/24,Johannesburg,2023/09/17,South Africa,Australia,Australia,field,South Africa,M Jansen,"The Wanderers Stadium, Johannesburg",A Paleker,RA Kettleborough,Nitin Menon
9,1373574,2023/24,Centurion,2023/09/15,South Africa,Australia,Australia,field,South Africa,H Klaasen,"SuperSport Park, Centurion",A Paleker,Nitin Menon,RA Kettleborough
12,1373573,2023/24,Potchefstroom,2023/09/12,South Africa,Australia,Australia,field,South Africa,AK Markram,"Sedgars Park, Potchefstroom",BP Jele,RA Kettleborough,Nitin Menon
16,1373572,2023/24,Bloemfontein,2023/09/09,Australia,South Africa,South Africa,field,Australia,M Labuschagne,"Mangaung Oval, Bloemfontein",BP Jele,Nitin Menon,RA Kettleborough
19,1373571,2023/24,Bloemfontein,2023/09/07,South Africa,Australia,Australia,field,Australia,M Labuschagne,"Mangaung Oval, Bloemfontein",A Paleker,RA Kettleborough,Nitin Menon

In [293]:
df3[df3['season']=="2023/24"]

,id,season,city,date,team1,team2,toss_winner,toss_decision,winner,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2023/24,Ahmedabad,2023/10/05,England,New Zealand,New Zealand,field,New Zealand,R Ravindra,Narendra Modi Stadium,HDPK Dharmasena,Nitin Menon,Sharfuddoula
1,2,2023/24,Hyderabad,2023/10/06,Pakistan,Netherlands,Netherlands,field,Pakistan,Saud Shakeel,Rajiv Gandhi International Stadium,AT Holdstock,CM Brown,PR Reiffel
2,3,2023/24,Dharamsala,2023/10/07,Afghanistan,Bangladesh,Bangladesh,field,Bangladesh,Mehedi Hasan Miraz,Himachal Pradesh Cricket Association Stadium,JS Wilson,HDPK Dharmasena,M Erasmus
3,4,2023/24,Delhi,2023/10/07,South Africa,Sri Lanka,Sri Lanka,field,South Africa,AK Markram,Arun Jaitley Stadium,RK Illingworth,Sharfuddoula,AG Wharf
4,5,2023/24,Chennai,2023/10/08,Australia,India,Australia,bat,India,KL Rahul,MA Chidambaram Stadium,CB Gaffaney,RA Kettleborough,AT Holdstock
5,6,2023/24,Hyderabad,2023/10/09,New Zealand,Netherlands,Netherlands,field,New Zealand,MJ Santner,Rajiv Gandhi International Stadium,PR Reiffel,RJ Tucker,Nitin Menon
6,7,2023/24,Dharamsala,2023/10/10,England,Bangladesh,Bangladesh,field,England,DJ Malan,Himachal Pradesh Cricket Association Stadium,Ahsan Raza,P Wilson,HDPK Dharmasena
7,8,2023/24,Hyderabad,2023/10/10,Sri Lanka,Pakistan,Sri Lanka,bat,Pakistan,Mohammad Rizwan,Rajiv Gandhi International Stadium,AG Wharf,CB Gaffaney,RJ Tucker
8,9,2023/24,Delhi,2023/10/11,Afghanistan,India,Afghanistan,bat,India,RG Sharma,Arun Jaitley Stadium,MA Gough,PR Reiffel,Sharfuddoula
9,10,2023/24,Lucknow,2023/10/12,South Africa,Australia,Australia,field,South Africa,Q de Kock,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,JS Wilson,RK Illingworth,CM Brown
10,11,2023/24,Chennai,2023/10/13,Bangladesh,New Zealand,New Zealand,field,New Zealand,LH Ferguson,MA Chidambaram Stadium,HDPK Dharmasena,Nitin Menon,AG Wharf
11,12,2023/24,Ahmedabad,2023/10/14,Pakistan,India,India,field,India,JJ Bumrah,Narendra Modi Stadium,M Erasmus,RK Illingworth,CB Gaffaney
12,13,2023/24,Delhi,2023/10/15,Afghanistan,England,England,field,Afghanistan,Mujeeb Ur Rahman,Arun Jaitley Stadium,RJ Tucker,Sharfuddoula,P Wilson
13,14,2023/24,Lucknow,2023/10/16,Sri Lanka,Australia,Sri Lanka,bat,Australia,A Zampa,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,CB Gaffaney,JS Wilson,NaN
14,15,2023/24,Dharamsala,2023/10/17,Netherlands,South Africa,South Africa,field,Netherlands,SA Edwards,Himachal Pradesh Cricket Association Stadium,MA Gough,RA Kettleborough,Ahsan Raza
15,16,2023/24,Chennai,2023/10/18,New Zealand,Afghanistan,Afghanistan,field,New Zealand,GD Phillips,MA Chidambaram Stadium,JS Wilson,P Wilson,J Madanagopal
16,17,2023/24,Pune,2023/10/19,Bangladesh,India,Bangladesh,bat,India,V Kohli,Maharashtra Cricket Association Stadium,AT Holdstock,RA Kettleborough,M Erasmus
17,18,2023/24,Bengaluru,2023/10/20,Australia,Pakistan,Pakistan,field,Australia,DA Warner,M Chinnaswamy Stadium,CM Brown,RK Illingworth,J Madanagopal
18,19,2023/24,Lucknow,2023/10/21,Netherlands,Sri Lanka,Netherlands,bat,Sri Lanka,S Samarawickrama,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Ahsan Raza,M Erasmus,CB Gaffaney
19,20,2023/24,Mumbai,2023/10/21,South Africa,England,England,field,South Africa,H Klaasen,Wankhede Stadium,HDPK Dharmasena,Nitin Menon,JS Wilson
20,21,2023/24,Dharamsala,2023/10/22,New Zealand,India,India,field,India,Mohammed Shami,Himachal Pradesh Cricket Association Stadium,AT Holdstock,MA Gough,Praveen Sen
21,22,2023/24,Chennai,2023/10/23,Pakistan,Afghanistan,Pakistan,bat,Afghanistan,Ibrahim Zadran,MA Chidambaram Stadium,PR Reiffel,RJ Tucker,HDPK Dharmasena
22,23,2023/24,Mumbai,2023/10/24,South Africa,Bangladesh,South Africa,bat,South Africa,Q de Kock,Wankhede Stadium,Ahsan Raza,JS Wilson,KN Ananthapadmanabhan
23,24,2023/24,Delhi,2023/10/25,Australia,Netherlands,Australia,bat,Australia,GJ Maxwell,Arun Jaitley Stadium,MA Gough,Sharfuddoula,Nitin Menon
24,25,2023/24,Bengaluru,2023/10/26,England,Sri Lanka,England,bat,Sri Lanka,CBRLS Kumara,M Chinnaswamy Stadium,AT Holdstock,CM Brown,RJ Tucker
25,26,2023/24,Chennai,2023/10/27,Pakistan,South Africa,Pakistan,bat,South Africa,T Shamsi,MA Chidambaram Stadium,AG Wharf,PR Reiffel,RA Kettleborough
26,27,2023/24,Dharamsala,2023/10/28,Australia,New Zealand,New Zealand,field,Australia,TM Head,Himachal Pradesh Cricket Association Stadium,M Erasmus,Sharfuddoula,MA Gough
27,28,2023/24,Kolkata,2023/10/28,Netherlands,Bangladesh,Netherlands,bat,Netherlands,PA van Meekeren,Eden Gardens,JS Wilson,P Wilson,CB Gaffaney
28,29,2023/24,Lucknow,2023/10/29,India,England,England,field,India,RG Sharma,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,AT Holdstock,RJ Tucker,CM Brown
29,30,2023/24,Pune,2023/10/30,Sri Lanka,Afghanistan,Afghanistan,field,Afghanistan,Fazalhaq Farooqi,Maharashtra Cricket Association Stadium,CB Gaffaney,RK Illingworth,M Erasmus
30,31,2023/24,Kolkata,2023/10/31,Bangladesh,Pakistan,Bangladesh,bat,Pakistan,Fakhar Zaman,Eden Gardens,Nitin Menon,RA Kettleborough,PR Reiffel
31,32,2023/24,Pune,2023/11/01,South Africa,New Zealand,New Zealand,field,South Africa,HE van der Dussen,Maharashtra Cricket Association Stadium,Ahsan Raza,HDPK Dharmasena,P Wilson

In [294]:
df3['id']=df['id'].max()+1

**Concatenating present world cup data and previous odi data**

In [295]:
df = pd.concat([df, df3], sort=False)

## Handling Null Values and dropping columns

In [296]:
df.isna().sum()

id                   0
season               0
city               310
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner             120
player_of_match    151
venue                0
umpire1              0
umpire2              0
umpire3            283
dtype: int64

**removing matches where winner not concluded**

In [297]:
df = df.dropna(axis = 0,subset=['winner'])

In [298]:
df[df['player_of_match'].isna()]

,id,season,city,date,team1,team2,toss_winner,toss_decision,winner,player_of_match,venue,umpire1,umpire2,umpire3
165,1341974,2022/23,Windhoek,2022/11/26,United States of America,Namibia,Namibia,field,Namibia,NaN,"Wanderers Cricket Ground, Windhoek",A Louw,BP Jele,NaN
183,1331369,2022,Port Moresby,2022/09/20,Namibia,Papua New Guinea,Namibia,bat,Namibia,NaN,"Amini Park, Port Moresby",DM Koch,L Oala,NaN
185,1331367,2022,Port Moresby,2022/09/15,Namibia,United States of America,Namibia,bat,Namibia,NaN,"Amini Park, Port Moresby",A Kapa,L Oala,NaN
186,1331366,2022,Port Moresby,2022/09/13,Papua New Guinea,United States of America,United States of America,field,Papua New Guinea,NaN,"Amini Park, Port Moresby",A Kapa,DM Koch,NaN
254,1312802,2022,Pearland,2022/06/03,Scotland,United Arab Emirates,Scotland,bat,United Arab Emirates,NaN,"Moosa Cricket Stadium, Pearland",SN Bandekar,Vijaya Mallela,NaN
266,1308244,2022,Dubai,2022/04/09,Scotland,Papua New Guinea,Papua New Guinea,field,Scotland,NaN,Dubai International Cricket Stadium,Akbar Ali,BB Pradhan,NaN
297,1299587,2021/22,Al Amarat,2022/02/06,Oman,United Arab Emirates,United Arab Emirates,field,United Arab Emirates,NaN,Al Amerat Cricket Ground Oman Cricket (Ministr...,AT Holdstock,Akbar Ali,NaN
360,1260085,2021,Rotterdam,2021/05/20,Netherlands,Scotland,Netherlands,bat,Scotland,NaN,"Hazelaarweg, Rotterdam",Adriaan van den Dries,N Bathi,NaN
361,1260084,2021,Rotterdam,2021/05/19,Netherlands,Scotland,Netherlands,bat,Netherlands,NaN,"Hazelaarweg, Rotterdam",N Bathi,Rizwan Akram,Adriaan van den Dries
447,1196672,2019,Aberdeen,2019/08/17,Scotland,Papua New Guinea,Scotland,field,Scotland,NaN,Mannofield Park,DA Haggo,R Black,NaN
459,1168519,2019,Belfast,2019/07/07,Ireland,Zimbabwe,Zimbabwe,bat,Ireland,NaN,"Civil Service Cricket Club, Stormont",R Black,S George,NaN
463,1168518,2019,Belfast,2019/07/04,Ireland,Zimbabwe,Zimbabwe,field,Ireland,NaN,"Civil Service Cricket Club, Stormont",R Black,S George,NaN
467,1168517,2019,Bready,2019/07/01,Ireland,Zimbabwe,Ireland,field,Ireland,NaN,"Bready Cricket Club, Magheramason",M Hawthorne,S George,NaN
481,1188378,2019,Deventer,2019/06/21,Netherlands,Zimbabwe,Zimbabwe,bat,Netherlands,NaN,Sportpark Het Schootsveld,AT Holdstock,WPM van Liemt,NaN
483,1188377,2019,Deventer,2019/06/19,Netherlands,Zimbabwe,Zimbabwe,bat,Netherlands,NaN,Sportpark Het Schootsveld,AT Holdstock,HKG Jansen,NaN
507,1168516,2019,Belfast,2019/05/21,Ireland,Afghanistan,Ireland,field,Afghanistan,NaN,"Civil Service Cricket Club, Stormont",M Hawthorne,S George,NaN
509,1168515,2019,Belfast,2019/05/19,Ireland,Afghanistan,Afghanistan,field,Ireland,NaN,"Civil Service Cricket Club, Stormont",AJ Neill,S George,NaN
611,1150148,2018,Belfast,2018/08/31,Ireland,Afghanistan,Ireland,bat,Afghanistan,NaN,"Civil Service Cricket Club, Stormont",IJ Gould,AJ Neill,M Hawthorne
613,1150147,2018,Belfast,2018/08/29,Afghanistan,Ireland,Afghanistan,bat,Ireland,NaN,"Civil Service Cricket Club, Stormont",IJ Gould,PA Reynolds,AJ Neill
614,1150146,2018,Belfast,2018/08/27,Afghanistan,Ireland,Ireland,field,Afghanistan,NaN,"Civil Service Cricket Club, Stormont",M Hawthorne,IJ Gould,PA Reynolds
745,1089420,2017,Edinburgh,2017/06/17,Scotland,Zimbabwe,Scotland,bat,Zimbabwe,NaN,"Grange Cricket Club Ground, Raeburn Place",RSA Palliyaguruge,IN Ramage,NaN
747,1089419,2017,Edinburgh,2017/06/15,Scotland,Zimbabwe,Scotland,bat,Scotland,NaN,"Grange Cricket Club Ground, Raeburn Place",RSA Palliyaguruge,IN Ramage,NaN
777,1089183,2017,Abu Dhabi,2017/04/04,United Arab Emirates,Papua New Guinea,United Arab Emirates,bat,United Arab Emirates,NaN,Sheikh Zayed Stadium,Akbar Ali,Shozab Raza,NaN
778,1068737,2017,Abu Dhabi,2017/04/02,United Arab Emirates,Papua New Guinea,Papua New Guinea,bat,Papua New Guinea,NaN,Sheikh Zayed Stadium,Akbar Ali,Shozab Raza,NaN
857,1004285,2016,Edinburgh,2016/09/10,Scotland,Hong Kong,Scotland,bat,Scotland,NaN,"Grange Cricket Club Ground, Raeburn Place",GO Brathwaite,IN Ramage,NaN
869,913649,2016,Dublin,2016/08/18,Ireland,Pakistan,Ireland,field,Pakistan,NaN,"The Village, Malahide",SD Fry,M Hawthorne,M Erasmus
870,997995,2016,Edinburgh,2016/08/16,Scotland,United Arab Emirates,United Arab Emirates,bat,Scotland,NaN,"Grange Cricket Club Ground, Raeburn Place",DA Haggo,M Hawthorne,NaN
871,997993,2016,Edinburgh,2016/08/14,Scotland,United Arab Emirates,United Arab Emirates,field,Scotland,NaN,"Grange Cricket Club Ground, Raeburn Place",DA Haggo,M Hawthorne,NaN
872,997967,2016,Belfast,2016/07/19,Ireland,Afghanistan,Afghanistan,field,Ireland,NaN,"Civil Service Cricket Club, Stormont",R Black,C Shamshuddin,NaN
873,997965,2016,Belfast,2016/07/17,Ireland,Afghanistan,Afghanistan,bat,Afghanistan,NaN,"Civil Service Cricket Club, Stormont",AJ Neill,C Shamshuddin,NaN
874,997961,2016,Belfast,2016/07/12,Ireland,Afghanistan,Ireland,field,Afghanistan,NaN,"Civil Service Cricket Club, Stormont",AJ Neill,IN Ramage,NaN
875,1003273,2016,Edinburgh,2016/07/06,Scotland,Afghanistan,Afghanistan,bat,Afghanistan,NaN,"Grange Cricket Club Ground, Raeburn Place",M Hawthorne,IN Ramage,NaN
886,913621,2016,Dublin,2016/06/18,Ireland,Sri Lanka,Ireland,field,Sri Lanka,NaN,"The Village, Malahide",M Hawthorne,BNJ Oxenford,PR Reiffel
1095,727939,2014,Dublin,2014/09/12,Ireland,Scotland,Scotland,field,Scotland,NaN,"The Village, Malahide",MA Gough,M Hawthorne,NaN
1096,727937,2014,Dublin,2014/09/10,Ireland,Scotland,Ireland,field,Ireland,NaN,"The Village, Malahide",MA Gough,M Hawthorne,NaN
1097,727935,2014,Dublin,2014/09/08,Ireland,Scotland,Ireland,field,Ireland,NaN,"The Village, Malahide",MA Gough,M Hawthorne,NaN
1207,660837,2013,Belfast,2013/09/06,Ireland,Scotland,Scotland,bat,Ireland,NaN,"Civil Service Cricket Club, Stormont",JD Cloete,RP Smith,NaN
1271,569242,2012/13,Auckland,2013/02/23,New Zealand,England,England,field,England,NaN,Eden Park,CB Gaffaney,S Ravi,RJ Tucker
1273,569241,2012/13,Napier,2013/02/20,New Zealand,England,England,field,England,NaN,McLean Park,CB Gaffaney,RJ Tucker,S Ravi
1326,555892,2012,Dublin,2012/07/05,Ireland,Afghanistan,Afghanistan,field,Ireland,NaN,Clontarf Cricket Club Ground,S George,RP Smith,NaN
1337,543888,2011/12,NaN,2012/03/29,Afghanistan,Netherlands,Afghanistan,bat,Netherlands,NaN,Sharjah Cricket Stadium,CB Gaffaney,Sarika Prasad,NaN
1410,523805,2011,Dublin,2011/09/20,Ireland,Canada,Ireland,bat,Ireland,NaN,Clontarf Cricket Club Ground,NG Bagh,M Hawthorne,NaN
1411,523804,2011,Dublin,2011/09/19,Ireland,Canada,Canada,field,Ireland,NaN,Clontarf Cricket Club Ground,NG Bagh,M Hawthorne,NaN
1435,504779,2011,Aberdeen,2011/06/29,Scotland,Netherlands,Scotland,field,Scotland,NaN,Mannofield Park,NG Bagh,PJ Nero,NaN
1555,464720,2010,Dublin,2010/08/18,Ireland,Netherlands,Netherlands,bat,Ireland,NaN,Clontarf Cricket Club Ground,NG Bagh,JD Cloete,NaN
1556,450501,2010,Ayr,2010/08/17,Scotland,Afghanistan,Afghanistan,bat,Scotland,NaN,Cambusdoon New Ground,EAR de Silva,IN Ramage,NaN
1558,450498,2010,Ayr,2010/08/16,Scotland,Afghanistan,Scotland,bat,Afghanistan,NaN,Cambusdoon New Ground,EAR de Silva,IN Ramage,NaN
1730,385025,2008/09,Nairobi,2009/01/31,Kenya,Zimbabwe,Kenya,bat,Zimbabwe,NaN,Gymkhana Club Ground,SR Modi,TH Wijewardene,NaN
1758,325581,2008/09,Nairobi,2008/10/17,Ireland,Zimbabwe,Zimbabwe,bat,Zimbabwe,NaN,Gymkhana Club Ground,M Erasmus,RB Tiffin,NaN
1774,325580,2008,Dublin,2008/07/31,Ireland,Scotland,Ireland,field,Ireland,NaN,Clontarf Cricket Club Ground,PK Baldwin,BF Bowden,NaN
1775,325579,2008,Dublin,2008/07/29,Netherlands,Scotland,Netherlands,bat,Scotland,NaN,Clontarf Cricket Club Ground,PK Baldwin,BF Bowden,NaN
1861,313994,2007/08,Nairobi,2007/10/28,Kenya,Bermuda,Bermuda,bat,Kenya,NaN,Gymkhana Club Ground,IL Howell,BB Pradhan,NaN
1862,313993,2007/08,Nairobi,2007/10/27,Kenya,Bermuda,Bermuda,bat,Kenya,NaN,Gymkhana Club Ground,IL Howell,BB Pradhan,NaN
1864,313992,2007/08,Nairobi,2007/10/25,Kenya,Bermuda,Kenya,field,Kenya,NaN,Gymkhana Club Ground,IL Howell,BB Pradhan,NaN
1867,296687,2007/08,Nairobi,2007/10/20,Kenya,Canada,Canada,bat,Kenya,NaN,Gymkhana Club Ground,M Erasmus,BB Pradhan,NaN
1868,296685,2007/08,Nairobi,2007/10/18,Kenya,Canada,Kenya,field,Kenya,NaN,Gymkhana Club Ground,M Erasmus,BB Pradhan,NaN
1966,249241,2006/07,NaN,2007/02/11,Australia,England,England,bat,England,NaN,Sydney Cricket Ground,SJ Davis,IL Howell,DJ Harper

Removing all columns containing only null values

In [299]:
df = df.dropna(how='all')

In [300]:
df.isna().sum()

id                   0
season               0
city               297
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               0
player_of_match     57
venue                0
umpire1              0
umpire2              0
umpire3            268
dtype: int64

In [301]:
df = df.drop(['umpire3'], axis = 1)

In [302]:
df[df['city'].isna()]

,id,season,city,date,team1,team2,toss_winner,toss_decision,winner,player_of_match,venue,umpire1,umpire2
383,1223956,2020/21,NaN,2020/11/29,Australia,India,Australia,bat,Australia,SPD Smith,Sydney Cricket Ground,GA Abood,PR Reiffel
384,1223955,2020/21,NaN,2020/11/27,Australia,India,Australia,bat,Australia,SPD Smith,Sydney Cricket Ground,RJ Tucker,SJ Nogajski
386,1233462,2020/21,NaN,2020/11/01,Zimbabwe,Pakistan,Zimbabwe,bat,Pakistan,Iftikhar Ahmed,Rawalpindi Cricket Stadium,Asif Yaqoob,Aleem Dar
387,1233461,2020/21,NaN,2020/10/30,Pakistan,Zimbabwe,Pakistan,bat,Pakistan,BRM Taylor,Rawalpindi Cricket Stadium,Aleem Dar,Ahsan Raza
579,1144987,2018/19,NaN,2018/11/09,Australia,South Africa,South Africa,field,Australia,AJ Finch,Adelaide Oval,MA Gough,GA Abood
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2136,217481,2005,NaN,2005/08/29,India,Zimbabwe,Zimbabwe,field,India,IK Pathan,Harare Sports Club,IL Howell,KC Barbour
2140,214852,2005,NaN,2005/08/02,Sri Lanka,West Indies,Sri Lanka,bat,Sri Lanka,MF Maharoof,Rangiri Dambulla International Stadium,EAR de Silva,SJA Taufel
2141,214742,2005,NaN,2005/07/31,West Indies,India,West Indies,bat,India,R Dravid,Rangiri Dambulla International Stadium,DJ Harper,TH Wijewardene
2168,65666,2004/05,NaN,2005/02/04,Australia,Pakistan,Australia,bat,Australia,A Symonds,Melbourne Cricket Ground,BF Bowden,SJ Davis
2175,65662,2004/05,NaN,2005/01/26,Australia,West Indies,Australia,bat,Australia,B Lee,Adelaide Oval,BF Bowden,SJ Davis

filling in null city column values using venue column

In [303]:
# First, create a dictionary mapping venues to their corresponding cities
venue_city_mapping = df.dropna(subset=['city']).set_index('venue')['city'].to_dict()

# Function to fill missing city values based on venue
def fill_missing_city(row):
    if pd.isnull(row['city']):
        return venue_city_mapping.get(row['venue'], row['city'])
    return row['city']

# Apply the function to fill missing city values
df['city'] = df.apply(fill_missing_city, axis=1)

In [304]:
 df[df['city'].isna()], df[df['venue']== 'Perth Stadium']

(           id   season city        date        team1         team2  \
 581   1144986  2018/19  NaN  2018/11/04    Australia  South Africa
 675   1072314  2017/18  NaN  2018/01/28      England     Australia
 739   1104479     2017  NaN  2017/07/02    Sri Lanka      Zimbabwe
 741   1104478     2017  NaN  2017/06/30    Sri Lanka      Zimbabwe
 1170   661689  2013/14  NaN  2014/01/01  New Zealand   West Indies
 1362   543882  2011/12  NaN  2012/02/20        Kenya       Ireland
 1365   543881  2011/12  NaN  2012/02/18        Kenya       Ireland
 1701   392617     2009  NaN  2009/04/24    Australia      Pakistan
 1702   392616     2009  NaN  2009/04/22    Australia      Pakistan
 1814   323949  2007/08  NaN  2008/03/09   Bangladesh  South Africa
 1834   325804  2007/08  NaN  2008/02/02     Pakistan      Zimbabwe
 1843   300428  2007/08  NaN  2007/12/31  New Zealand    Bangladesh
 2068   238173  2005/06  NaN  2006/04/23   Bangladesh     Australia
 2087   238170  2005/06  NaN  2006/02/25   Bangladesh     Sri Lanka
 2088   238176  2005/06  NaN  2006/02/22  New Zealand   West Indies

        toss_winner toss_decision        winner player_of_match  \
 581   South Africa         field  South Africa        DW Steyn
 675      Australia         field       England       TK Curran
 739      Sri Lanka         field     Sri Lanka  PADLR Sandakan
 741      Sri Lanka           bat      Zimbabwe         SF Mire
 1170   West Indies         field   New Zealand     CJ Anderson
 1362       Ireland           bat       Ireland        EC Joyce
 1365       Ireland           bat         Kenya        T Mishra
 1701      Pakistan           bat     Australia       A Symonds
 1702     Australia           bat      Pakistan   Shahid Afridi
 1814    Bangladesh           bat  South Africa        GC Smith
 1834      Zimbabwe           bat      Pakistan     Younis Khan
 1843   New Zealand         field   New Zealand      DL Vettori
 2068    Bangladesh           bat     Australia    AC Gilchrist
 2087    Bangladesh         field     Sri Lanka   KC Sangakkara
 2088   New Zealand         field   New Zealand      DL Vettori

                                   venue          umpire1            umpire2
 581                       Perth Stadium        Aleem Dar             SD Fry
 675                       Perth Stadium      CB Gaffaney             SD Fry
 739         Galle International Stadium         NJ Llong  RSA Palliyaguruge
 741         Galle International Stadium         IJ Gould  RSA Palliyaguruge
 1170           Queenstown Events Centre      CB Gaffaney      REJ Martinesz
 1362         Mombasa Sports Club Ground         S George          RB Tiffin
 1365         Mombasa Sports Club Ground       D Odhiambo          RB Tiffin
 1701  Dubai Sports City Cricket Stadium        Asad Rauf          BF Bowden
 1702  Dubai Sports City Cricket Stadium        BF Bowden      Nadeem Ghauri
 1814      Chittagong Divisional Stadium        Aleem Dar       Enamul Haque
 1834                Sheikhupura Stadium        Aleem Dar       EAR de Silva
 1843           Queenstown Events Centre          AL Hill           NJ Llong
 2068      Chittagong Divisional Stadium        IL Howell    Mahbubur Rahman
 2087      Chittagong Divisional Stadium  AFM Akhtaruddin        K Hariharan
 2088           Queenstown Events Centre        BF Bowden        RE Koertzen  ,
           id   season city        date      team1         team2   toss_winner  \
 581  1144986  2018/19  NaN  2018/11/04  Australia  South Africa  South Africa
 675  1072314  2017/18  NaN  2018/01/28    England     Australia     Australia

     toss_decision        winner player_of_match          venue      umpire1  \
 581         field  South Africa        DW Steyn  Perth Stadium    Aleem Dar
 675         field       England       TK Curran  Perth Stadium  CB Gaffaney

     umpire2
 581  SD Fry
 675  SD Fry  )

filling null city values left out by above method

In [305]:
df.loc[df['venue'] == 'Perth Stadium', 'city'] = 'Australia'
df.loc[df['venue'] == 'Galle International Stadium', 'city'] = 'Sri Lanka'
df.loc[df['venue'] == 'Queenstown Events Centre', 'city'] = 'New Zealand'
df.loc[df['venue'] == 'Mombasa Sports Club Ground', 'city'] = 'Kenya'
df.loc[df['venue'] == 'Dubai Sports City Cricket Stadium', 'city'] = 'United Arab Emirates'
df.loc[df['venue'] == 'Chittagong Divisional Stadium', 'city'] = 'Bangladesh'
df.loc[df['venue'] == 'Sheikhupura Stadium', 'city'] = 'Pakistan'

In [306]:
df.isna().sum()

id                  0
season              0
city                0
date                0
team1               0
team2               0
toss_winner         0
toss_decision       0
winner              0
player_of_match    57
venue               0
umpire1             0
umpire2             0
dtype: int64

In [307]:
df['winner'].value_counts()

India                       296
Australia                   279
South Africa                218
Sri Lanka                   216
England                     210
Pakistan                    202
New Zealand                 188
West Indies                 136
Bangladesh                  129
Zimbabwe                     67
Afghanistan                  59
Ireland                      53
Scotland                     45
United Arab Emirates         34
Nepal                        28
Oman                         22
United States of America     22
Namibia                      21
Netherlands                  19
Kenya                        13
Papua New Guinea             11
Canada                       10
Hong Kong                     6
Asia XI                       3
Bermuda                       2
Jersey                        1
Africa XI                     1
Name: winner, dtype: int64

converting date to dayofyear

In [308]:
df['day_of_year'] = pd.to_datetime(df['date'], format='%Y/%m/%d')

# Extract the day of the year and create a new column
df['day_of_year'] = df['day_of_year'].dt.dayofyear

In [309]:
df.isna().sum()

id                  0
season              0
city                0
date                0
team1               0
team2               0
toss_winner         0
toss_decision       0
winner              0
player_of_match    57
venue               0
umpire1             0
umpire2             0
day_of_year         0
dtype: int64

In [310]:
df = df.drop(['date'], axis = 1)

In [311]:
df.head()

,id,season,city,team1,team2,toss_winner,toss_decision,winner,player_of_match,venue,umpire1,umpire2,day_of_year
0,1389389,2023/24,Indore,India,Australia,Australia,field,India,SS Iyer,"Holkar Cricket Stadium, Indore",J Madanagopal,HDPK Dharmasena,267
1,1336129,2023,Nottingham,England,Ireland,Ireland,field,England,WG Jacks,"Trent Bridge, Nottingham",DJ Millns,RJ Tucker,266
2,1395701,2023,Dhaka,New Zealand,Bangladesh,New Zealand,bat,New Zealand,IS Sodhi,"Shere Bangla National Stadium, Mirpur",M Erasmus,Sharfuddoula,266
3,1389388,2023/24,Chandigarh,Australia,India,India,field,India,Mohammed Shami,"Punjab Cricket Association IS Bindra Stadium, ...",KN Ananthapadmanabhan,HDPK Dharmasena,265
5,1388414,2023,Colombo,Sri Lanka,India,Sri Lanka,bat,India,Mohammed Siraj,"R Premadasa Stadium, Colombo",Ahmed Shah Pakteen,RK Illingworth,260

In [312]:
# venue has both values 'Wankhede Stadium' and 'Wankhede Stadium, Mumbai' , removing location from venue

df['venue'] = df['venue'].str.split(',').str.get(0)

In [313]:
new_df = df[['season', 'city', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'winner', 'venue', 'umpire1', 
       'day_of_year']]

removing some teams with less number of matches won

In [314]:
values_to_drop = ['Scotland',  
'United Arab Emirates',      
'Nepal',                        
'Oman',                         
'United States of America',    
'Namibia',                    
'Netherlands',                  
'Kenya',                        
'Papua New Guinea',             
'Canada',                       
'Hong Kong',                    
'Asia XI',                    
'Bermuda',                    
'Jersey',                        
'Africa XI',
'ICC World XI' ]

# Drop rows where the 'winner' column has values in 'values_to_drop'
new_df = df[~df['winner'].isin(values_to_drop)]
new_df = new_df[~new_df['team1'].isin(values_to_drop)]
new_df = new_df[~new_df['team2'].isin(values_to_drop)]

In [315]:
new_df['team2'].value_counts(), new_df.shape

(Sri Lanka       249
 Pakistan        234
 India           223
 Australia       180
 West Indies     175
 South Africa    171
 England         169
 New Zealand     154
 Zimbabwe        124
 Bangladesh      111
 Afghanistan      51
 Ireland          50
 Name: team2, dtype: int64,
 (1891, 13))

## Encoding Data

In [316]:
TeamMapping ={'India':1, 'Australia':2,'South Africa':3,'Sri Lanka':4,'England':5,'Pakistan':6,'New Zealand':7,     
'West Indies':8,'Bangladesh':9,'Zimbabwe':10,'Afghanistan':11,'Ireland':12}
new_df['team1'] = new_df['team1'].map(TeamMapping)

new_df['team2'] = new_df['team2'].map(TeamMapping)

new_df['winner'] = new_df['winner'].map(TeamMapping)

new_df['toss_winner'] = new_df['toss_winner'].map(TeamMapping)

In [317]:
new_df.isna().sum()

id                  0
season              0
city                0
team1               0
team2               0
toss_winner         0
toss_decision       0
winner              0
player_of_match    18
venue               0
umpire1             0
umpire2             0
day_of_year         0
dtype: int64

In [318]:
#creating a copyof dataframe
copy_df = new_df.copy()

In [319]:
le = LabelEncoder()

new_df['season'] = le.fit_transform(new_df['season'])
# Create a dictionary mapping original values to encoded values
mapping_season = dict(zip(copy_df['season'], new_df['season']))

new_df['toss_decision'] = le.fit_transform(new_df['toss_decision'])
# Create a dictionary mapping original values to encoded values
mapping_toss_decision = dict(zip(copy_df['toss_decision'], new_df['toss_decision']))

new_df['city'] = le.fit_transform(new_df['city'])
# Create a dictionary mapping original values to encoded values
mapping_city = dict(zip(copy_df['city'], new_df['city']))

new_df['venue'] = le.fit_transform(new_df['venue'])
# Create a dictionary mapping original values to encoded values
mapping_venue = dict(zip(copy_df['venue'], new_df['venue']))

new_df['umpire1'] = le.fit_transform(new_df['umpire1'])
# Create a dictionary mapping original values to encoded values
mapping_umpire = dict(zip(copy_df['umpire1'], new_df['umpire1']))

In [320]:
new_df.tail()

,id,season,city,team1,team2,toss_winner,toss_decision,winner,player_of_match,venue,umpire1,umpire2,day_of_year
26,1395702,42,41,2,7,7,1,2,TM Head,55,62,Sharfuddoula,301
28,1395702,42,82,1,5,5,1,1,RG Sharma,14,7,RJ Tucker,302
29,1395702,42,105,4,11,11,1,11,Fazalhaq Farooqi,76,25,RK Illingworth,303
30,1395702,42,77,9,6,9,0,6,Fakhar Zaman,41,76,RA Kettleborough,304
31,1395702,42,105,3,7,7,1,3,HE van der Dussen,76,12,HDPK Dharmasena,305

In [321]:
new_df.shape

(1891, 13)

## Training model to predict winner of match

In [322]:
X = new_df[['season', 'city', 'team1', 'team2', 'toss_winner', 'toss_decision',
        'venue', 'umpire1', 'day_of_year']]
y = new_df['winner']

## knn

In [323]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [324]:
neigh = KNeighborsClassifier(n_neighbors=6)
neigh.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=6)

In [325]:
y_pred = neigh.predict(X_test)

In [326]:
print(f"Accuracy:{accuracy_score(y_test, y_pred)}")
print(f"Precision:{precision_score(y_test, y_pred, average='weighted')}")
print(f"Recall:{recall_score(y_test, y_pred, average='weighted')}")
print(f"f1 score:{f1_score(y_test, y_pred, average='weighted')}")

Accuracy:0.2638522427440633
Precision:0.26336782107401824
Recall:0.2638522427440633
f1 score:0.2590502752734971

In [327]:
k_fold = KFold(n_splits = 5, random_state = None) 
score = cross_val_score(neigh, X, y, cv = k_fold)  
  
# Calculating mean accuracy score  
mean_acc_score = sum(score) / len(score)  
   
print("Accuracy score of each fold: ", score)  
print("Mean accuracy score: ", mean_acc_score)

Accuracy score of each fold:  [0.18469657 0.21428571 0.20899471 0.26190476 0.2010582 ]
Mean accuracy score:  0.2141879912328461

## naive bayes

In [328]:
bayes = CategoricalNB()
bayes.fit(X_train, y_train)

CategoricalNB()

In [329]:
y_pred = bayes.predict(X_test)

In [330]:
print(f"Accuracy:{accuracy_score(y_test, y_pred)}")
print(f"Precision:{precision_score(y_test, y_pred, average='weighted')}")
print(f"Recall:{recall_score(y_test, y_pred, average='weighted')}")
print(f"f1 score:{f1_score(y_test, y_pred, average='weighted')}")

Accuracy:0.5725593667546174
Precision:0.5948567934868707
Recall:0.5725593667546174
f1 score:0.5761990461266114

## random forest

In [331]:
forest = RandomForestClassifier(max_depth=10, random_state=0)
forest.fit(X_train, y_train)


y_pred = forest.predict(X_test)

In [332]:
print(f"Accuracy:{accuracy_score(y_test, y_pred)}")
print(f"Precision:{precision_score(y_test, y_pred, average='weighted')}")
print(f"Recall:{recall_score(y_test, y_pred, average='weighted')}")
print(f"f1 score:{f1_score(y_test, y_pred, average='weighted')}")

Accuracy:0.6200527704485488
Precision:0.6382601914871178
Recall:0.6200527704485488
f1 score:0.6077403447367002

In [333]:
k_fold = KFold(n_splits = 5, random_state = None) 
score = cross_val_score(forest, X, y, cv = k_fold)  
  
# Calculating mean accuracy score  
mean_acc_score = sum(score) / len(score)  
   
print("Accuracy score of each fold: ", score)  
print("Mean accuracy score: ", mean_acc_score)

Accuracy score of each fold:  [0.65435356 0.57671958 0.61375661 0.65873016 0.61375661]
Mean accuracy score:  0.623463304993648

## Using Neural Network

In [334]:
mlp = MLPClassifier(hidden_layer_sizes=(22,100,100,22),random_state=1, max_iter=300).fit(X_train, y_train)
y_pred = mlp.predict(X_test)

C:\Users\dhair\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (300) reached and the optimization hasn't converged yet.
  warnings.warn(

In [335]:
y_pred2 = mlp.predict(X_train)
accuracy_score(y_train, y_pred2)

0.5866402116402116

In [336]:
print(f"Accuracy:{accuracy_score(y_test, y_pred)}")
print(f"Precision:{precision_score(y_test, y_pred, average='weighted')}")
print(f"Recall:{recall_score(y_test, y_pred, average='weighted')}")
print(f"f1 score:{f1_score(y_test, y_pred, average='weighted')}")

Accuracy:0.2532981530343008
Precision:0.2910656920415019
Recall:0.2532981530343008
f1 score:0.25766107336542987

In [337]:
k_fold = KFold(n_splits = 5, random_state = None) 
score = cross_val_score(mlp, X, y, cv = k_fold)  
  
# Calculating mean accuracy score  
mean_acc_score = sum(score) / len(score)  
   
print("Accuracy score of each fold: ", score)  
print("Mean accuracy score: ", mean_acc_score)

C:\Users\dhair\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (300) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\dhair\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (300) reached and the optimization hasn't converged yet.
  warnings.warn(

Accuracy score of each fold:  [0.17941953 0.23280423 0.26719577 0.23015873 0.1957672 ]
Mean accuracy score:  0.22106909019837778

In [338]:
X.columns

Index(['season', 'city', 'team1', 'team2', 'toss_winner', 'toss_decision',
       'venue', 'umpire1', 'day_of_year'],
      dtype='object')

In [339]:
umpire_list = ['HDPK Dharmasena', 'M Erasmus', 'CB Gaffaney', 'MA Gough', 'AT Holdstock', 'RK Illingworth', 'RA Kettleborough', 'Nitin Menon', 'Ahsan Raza', 'PR Reiffel', 'Sharfuddoula', 'RJ Tucker', 'AG Wharf', 'JS Wilson', 'CM Brown', 'P Wilson']

In [340]:
sem_fin1_data = [[mapping_season['2023/24'],mapping_city['Mumbai'],TeamMapping['India'],TeamMapping['New Zealand'],'','',mapping_venue['Wankhede Stadium'],'',319]]
sem_fin2_data = [[mapping_season['2023/24'],mapping_city['Kolkata'],TeamMapping['South Africa'],TeamMapping['Australia'],'','',mapping_venue['Eden Gardens'],'',320]]
fin_data = [[mapping_season['2023/24'],mapping_city['Ahmedabad'],'','','','',mapping_venue['Narendra Modi Stadium'],'',323]]

sem_fin1_df = pd.DataFrame(sem_fin1_data,columns = X.columns)
sem_fin2_df = pd.DataFrame(sem_fin2_data,columns = X.columns)
fin_df =  pd.DataFrame(fin_data,columns = X.columns)
score = pd.DataFrame([[0,0,0,0]],columns = ['India','New Zealand','South Africa','Australia'])

In [341]:
sem_fin1_data

[[42, 89, 1, 7, '', '', 156, '', 319]]

In [342]:
sem_fin2_data

[[42, 77, 3, 2, '', '', 41, '', 320]]

### Creating dataframe for semi final match , for columns whose values are not available, filling in random values and doing this mutiple times and calculating result

### First winners of semi final matches are predicted and the results are plugged in dataframe of final match, prediction on this dataframe is the result, this result is calculated for multiple different situations and the team predicted majority of times as winner, is declared final winner

In [343]:
import random
for i in range(100):
    
    #semi final 1
    if random.randrange(2):
        sem_fin1_df['toss_winner'] = sem_fin1_df['team1']
    else:
        sem_fin1_df['toss_winner'] = sem_fin1_df['team2']
        
    sem_fin1_df['toss_decision'] = random.randrange(2)
    sem_fin1_df['umpire1'] = mapping_umpire[umpire_list[random.randrange(16)]]
    
    #semi final 2
    if random.randrange(2):
        sem_fin2_df['toss_winner'] = sem_fin2_df['team1']
    else:
        sem_fin2_df['toss_winner'] = sem_fin2_df['team2']
        
    sem_fin2_df['toss_decision'] = random.randrange(2)
    sem_fin2_df['umpire1'] = mapping_umpire[umpire_list[random.randrange(16)]]
    
    sem_fin_pred1 = forest.predict(sem_fin1_df)
    sem_fin_pred2 = forest.predict(sem_fin2_df)
    
    #finals
    fin_df['team1'] =  sem_fin_pred1
    fin_df['team2'] =  sem_fin_pred2
    
    if random.randrange(2):
        fin_df['toss_winner'] = fin_df['team1']
    else:
        fin_df['toss_winner'] = fin_df['team2']
        
    fin_df['toss_decision'] = random.randrange(2)
    fin_df['umpire1'] = mapping_umpire[umpire_list[random.randrange(16)]]
    
    #finals result
    fin_pred = forest.predict(fin_df)
    
    if fin_pred == 1 : score['India']+=1
    elif fin_pred == 3  : score['South Africa']+=1
    elif fin_pred == 7  : score['New Zealand']+=1
    else : score['Australia']+=1    
    
print("Chances of winning out of 100, according to random forest model")   
print(score)

Chances of winning out of 100, according to random forest model
   India  New Zealand  South Africa  Australia
0     94            1             5          0

In [344]:
print("Chances of winning out of 100, according to random forest model")   
print(score)

score = dict.fromkeys(score, 0)

Chances of winning out of 100, according to random forest model
   India  New Zealand  South Africa  Australia
0     94            1             5          0

### using neural network model

In [345]:
import random
for i in range(100):
    
    #semi final 1
    if random.randrange(2):
        sem_fin1_df['toss_winner'] = sem_fin1_df['team1']
    else:
        sem_fin1_df['toss_winner'] = sem_fin1_df['team2']
        
    sem_fin1_df['toss_decision'] = random.randrange(2)
    sem_fin1_df['umpire1'] = mapping_umpire[umpire_list[random.randrange(16)]]
    
    #semi final 2
    if random.randrange(2):
        sem_fin2_df['toss_winner'] = sem_fin2_df['team1']
    else:
        sem_fin2_df['toss_winner'] = sem_fin2_df['team2']
        
    sem_fin2_df['toss_decision'] = random.randrange(2)
    sem_fin2_df['umpire1'] = mapping_umpire[umpire_list[random.randrange(16)]]
    
    sem_fin_pred1 = mlp.predict(sem_fin1_df)
    sem_fin_pred2 = mlp.predict(sem_fin2_df)
    
    #finals
    fin_df['team1'] =  sem_fin_pred1
    fin_df['team2'] =  sem_fin_pred2
    
    if random.randrange(2):
        fin_df['toss_winner'] = fin_df['team1']
    else:
        fin_df['toss_winner'] = fin_df['team2']
        
    fin_df['toss_decision'] = random.randrange(2)
    fin_df['umpire1'] = mapping_umpire[umpire_list[random.randrange(16)]]
    
    #finals result
    fin_pred = mlp.predict(fin_df)
    
    if fin_pred == 1 : score['India']+=1
    elif fin_pred == 3  : score['South Africa']+=1
    elif fin_pred == 7  : score['New Zealand']+=1
    else : score['Australia']+=1    
    
print("Chances of winning out of 100, according to neural network model")   
print(score)

Chances of winning out of 100, according to neural network model
{'India': 87, 'New Zealand': 0, 'South Africa': 0, 'Australia': 13}

In [346]:
print("Chances of winning out of 100, according to neural network model")   
print(score)

score = dict.fromkeys(score, 0)

Chances of winning out of 100, according to neural network model
{'India': 87, 'New Zealand': 0, 'South Africa': 0, 'Australia': 13}

## Task1: 
### Predicting player of match

In [347]:
new_df.head()

,id,season,city,team1,team2,toss_winner,toss_decision,winner,player_of_match,venue,umpire1,umpire2,day_of_year
0,1389389,42,64,1,2,2,1,1,SS Iyer,56,50,HDPK Dharmasena,267
1,1336129,41,96,5,12,12,1,5,WG Jacks,149,31,RJ Tucker,266
2,1395701,41,40,7,9,7,0,7,IS Sodhi,133,62,Sharfuddoula,266
3,1389388,42,27,2,1,1,1,1,Mohammed Shami,100,57,HDPK Dharmasena,265
5,1388414,41,34,4,1,4,0,1,Mohammed Siraj,106,10,RK Illingworth,260

In [348]:
new_df.isna().sum()

id                  0
season              0
city                0
team1               0
team2               0
toss_winner         0
toss_decision       0
winner              0
player_of_match    18
venue               0
umpire1             0
umpire2             0
day_of_year         0
dtype: int64

In [349]:
new_df = new_df.dropna(axis = 0,subset=['player_of_match'])
copy_df = copy_df.dropna(axis = 0,subset=['player_of_match'])

In [350]:
new_df = new_df.drop(['umpire2','id'], axis=1)

In [351]:
new_df['player_of_match'] = le.fit_transform(new_df['player_of_match'])
# Create a dictionary mapping original values to encoded values
mapping_player = dict(zip(copy_df['player_of_match'], new_df['player_of_match']))

In [352]:
len(mapping_player)

493

In [353]:
X = new_df[['season', 'city', 'team1', 'team2', 'toss_winner', 'toss_decision','winner',
        'venue', 'umpire1', 'day_of_year']]
y = new_df['player_of_match']


Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.20, random_state=42)

In [354]:
np_Xtrain = Xtrain.to_numpy(dtype='float32')
np_ytrain = ytrain.to_numpy(dtype='float32')
np_Xtest = Xtest.to_numpy(dtype='float32')
np_ytest = ytest.to_numpy(dtype='float32')

In [355]:
np_Xtrain, np_ytrain

(array([[ 33.,  31.,   3., ..., 113.,  92., 179.],
        [ 14.,  85.,   2., ...,  83.,  17.,  38.],
        [ 19.,  59.,   4., ...,  77.,  19., 206.],
        ...,
        [ 21.,  20.,  10., ..., 104., 110., 213.],
        [  9.,  86.,   9., ..., 133.,  36., 130.],
        [ 16.,  56.,   1., ...,  90.,  73., 332.]], dtype=float32),
 array([ 92., 414., 327., ..., 286., 293., 468.], dtype=float32))

In [356]:
np_y = np.array([])
np_y = np.append(np_ytrain,np_ytest,axis=0)
np_y = to_categorical(np_y)

In [357]:
np_ytrain = np_y[:1498,]
np_ytest = np_y[1498:,]

In [358]:
np_ytrain.shape, np_ytest.shape

((1498, 493), (375, 493))

In [359]:
mean = np.mean(np_Xtrain, axis=0)
np_Xtrain -= mean
np_Xtest -= mean
std = np.std(np_Xtrain, axis=0)
np_Xtrain /= std
np_Xtest /= std

In [360]:
np_Xtrain.shape[-1], np_ytrain.shape[-1]

(10, 493)

In [361]:
model = keras.Sequential(
    [
        keras.layers.Dense(
            128, activation="relu", input_shape=(np_Xtrain.shape[-1],)
        ),
        keras.layers.Dense(128, activation="relu"),
        keras.layers.Dense(128, activation="relu"),
        keras.layers.Dense(493, activation="softmax"),
    ]
)
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 128)               1408

 dense_13 (Dense)            (None, 128)               16512

 dense_14 (Dense)            (None, 128)               16512

 dense_15 (Dense)            (None, 493)               63597

=================================================================
Total params: 98,029
Trainable params: 98,029
Non-trainable params: 0
_________________________________________________________________

In [362]:
metrics = [
    keras.metrics.FalseNegatives(name="fn"),
    keras.metrics.FalsePositives(name="fp"),
    keras.metrics.TrueNegatives(name="tn"),
    keras.metrics.TruePositives(name="tp"),
    keras.metrics.Precision(name="precision"),
    keras.metrics.Recall(name="recall"),
]

model.compile(
    optimizer=keras.optimizers.Adam(1e-2), loss="categorical_crossentropy", metrics=metrics
)

In [363]:
np_Xtrain.shape,np_ytrain.shape,np_Xtest.shape, np_ytest.shape

((1498, 10), (1498, 493), (375, 10), (375, 493))

In [364]:
model.fit(
    np_Xtrain,
    np_ytrain,
    epochs=80,
    verbose=2,
    validation_data=(np_Xtest, np_ytest),
)

Epoch 1/80
47/47 - 2s - loss: 5.9545 - fn: 1498.0000 - fp: 0.0000e+00 - tn: 737016.0000 - tp: 0.0000e+00 - precision: 0.0000e+00 - recall: 0.0000e+00 - val_loss: 5.6990 - val_fn: 375.0000 - val_fp: 0.0000e+00 - val_tn: 184500.0000 - val_tp: 0.0000e+00 - val_precision: 0.0000e+00 - val_recall: 0.0000e+00 - 2s/epoch - 51ms/step
Epoch 2/80
47/47 - 0s - loss: 5.1861 - fn: 1498.0000 - fp: 0.0000e+00 - tn: 737016.0000 - tp: 0.0000e+00 - precision: 0.0000e+00 - recall: 0.0000e+00 - val_loss: 5.6102 - val_fn: 375.0000 - val_fp: 0.0000e+00 - val_tn: 184500.0000 - val_tp: 0.0000e+00 - val_precision: 0.0000e+00 - val_recall: 0.0000e+00 - 280ms/epoch - 6ms/step
Epoch 3/80
47/47 - 0s - loss: 4.5939 - fn: 1498.0000 - fp: 1.0000 - tn: 737015.0000 - tp: 0.0000e+00 - precision: 0.0000e+00 - recall: 0.0000e+00 - val_loss: 5.4231 - val_fn: 375.0000 - val_fp: 0.0000e+00 - val_tn: 184500.0000 - val_tp: 0.0000e+00 - val_precision: 0.0000e+00 - val_recall: 0.0000e+00 - 298ms/epoch - 6ms/step
Epoch 4/80
47/47 - 0s - loss: 4.1716 - fn: 1497.0000 - fp: 4.0000 - tn: 737012.0000 - tp: 1.0000 - precision: 0.2000 - recall: 6.6756e-04 - val_loss: 5.4608 - val_fn: 375.0000 - val_fp: 1.0000 - val_tn: 184499.0000 - val_tp: 0.0000e+00 - val_precision: 0.0000e+00 - val_recall: 0.0000e+00 - 283ms/epoch - 6ms/step
Epoch 5/80
47/47 - 0s - loss: 3.8112 - fn: 1493.0000 - fp: 8.0000 - tn: 737008.0000 - tp: 5.0000 - precision: 0.3846 - recall: 0.0033 - val_loss: 5.5509 - val_fn: 375.0000 - val_fp: 1.0000 - val_tn: 184499.0000 - val_tp: 0.0000e+00 - val_precision: 0.0000e+00 - val_recall: 0.0000e+00 - 280ms/epoch - 6ms/step
Epoch 6/80
47/47 - 0s - loss: 3.5136 - fn: 1487.0000 - fp: 18.0000 - tn: 736998.0000 - tp: 11.0000 - precision: 0.3793 - recall: 0.0073 - val_loss: 5.7153 - val_fn: 375.0000 - val_fp: 1.0000 - val_tn: 184499.0000 - val_tp: 0.0000e+00 - val_precision: 0.0000e+00 - val_recall: 0.0000e+00 - 286ms/epoch - 6ms/step
Epoch 7/80
47/47 - 0s - loss: 3.2563 - fn: 1483.0000 - fp: 33.0000 - tn: 736983.0000 - tp: 15.0000 - precision: 0.3125 - recall: 0.0100 - val_loss: 6.2585 - val_fn: 375.0000 - val_fp: 2.0000 - val_tn: 184498.0000 - val_tp: 0.0000e+00 - val_precision: 0.0000e+00 - val_recall: 0.0000e+00 - 309ms/epoch - 7ms/step
Epoch 8/80
47/47 - 0s - loss: 2.9510 - fn: 1449.0000 - fp: 67.0000 - tn: 736949.0000 - tp: 49.0000 - precision: 0.4224 - recall: 0.0327 - val_loss: 6.7241 - val_fn: 372.0000 - val_fp: 15.0000 - val_tn: 184485.0000 - val_tp: 3.0000 - val_precision: 0.1667 - val_recall: 0.0080 - 286ms/epoch - 6ms/step
Epoch 9/80
47/47 - 0s - loss: 2.7378 - fn: 1416.0000 - fp: 105.0000 - tn: 736911.0000 - tp: 82.0000 - precision: 0.4385 - recall: 0.0547 - val_loss: 6.8697 - val_fn: 374.0000 - val_fp: 17.0000 - val_tn: 184483.0000 - val_tp: 1.0000 - val_precision: 0.0556 - val_recall: 0.0027 - 292ms/epoch - 6ms/step
Epoch 10/80
47/47 - 0s - loss: 2.5927 - fn: 1391.0000 - fp: 117.0000 - tn: 736899.0000 - tp: 107.0000 - precision: 0.4777 - recall: 0.0714 - val_loss: 7.5544 - val_fn: 370.0000 - val_fp: 40.0000 - val_tn: 184460.0000 - val_tp: 5.0000 - val_precision: 0.1111 - val_recall: 0.0133 - 283ms/epoch - 6ms/step
Epoch 11/80
47/47 - 0s - loss: 2.3189 - fn: 1322.0000 - fp: 127.0000 - tn: 736889.0000 - tp: 176.0000 - precision: 0.5809 - recall: 0.1175 - val_loss: 8.2115 - val_fn: 370.0000 - val_fp: 50.0000 - val_tn: 184450.0000 - val_tp: 5.0000 - val_precision: 0.0909 - val_recall: 0.0133 - 283ms/epoch - 6ms/step
Epoch 12/80
47/47 - 0s - loss: 2.1846 - fn: 1258.0000 - fp: 201.0000 - tn: 736815.0000 - tp: 240.0000 - precision: 0.5442 - recall: 0.1602 - val_loss: 8.7013 - val_fn: 369.0000 - val_fp: 76.0000 - val_tn: 184424.0000 - val_tp: 6.0000 - val_precision: 0.0732 - val_recall: 0.0160 - 286ms/epoch - 6ms/step
Epoch 13/80
47/47 - 0s - loss: 2.0885 - fn: 1196.0000 - fp: 201.0000 - tn: 736815.0000 - tp: 302.0000 - precision: 0.6004 - recall: 0.2016 - val_loss: 9.1344 - val_fn: 369.0000 - val_fp: 83.0000 - val_tn: 184417.0000 - val_tp: 6.0000 - val_precision: 0.0674 - val_recall: 0.0160 - 288ms/epoch - 6ms/step
Epoch 14/80
47/47 - 0s - loss: 1.8869 - fn: 1150.0000 - fp: 225.0000 - tn: 736791.0000 - tp: 348.0000 - precision: 0.6073 - recall: 0.2323 - val_loss: 9.9000 - val_fn: 365.0000 - val_fp: 115.0000 - val_tn: 184385.0000 - val_tp: 10.0000 - val_precision: 0.0800 - val_recall: 0.0267 - 279ms/epoch - 6ms/step
Epoch 15/80
47/47 - 0s - loss: 1.6856 - fn: 1035.0000 - fp: 219.0000 - tn: 736797.0000 - tp: 463.0000 - precision: 0.6789 - recall: 0.3091 - val_loss: 10.6997 - val_fn: 365.0000 - val_fp: 112.0000 - val_tn: 184388.0000 - val_tp: 10.0000 - val_precision: 0.0820 - val_recall: 0.0267 - 285ms/epoch - 6ms/step
Epoch 16/80
47/47 - 0s - loss: 1.6868 - fn: 1031.0000 - fp: 264.0000 - tn: 736752.0000 - tp: 467.0000 - precision: 0.6389 - recall: 0.3117 - val_loss: 10.8328 - val_fn: 364.0000 - val_fp: 121.0000 - val_tn: 184379.0000 - val_tp: 11.0000 - val_precision: 0.0833 - val_recall: 0.0293 - 284ms/epoch - 6ms/step
Epoch 17/80
47/47 - 0s - loss: 1.6868 - fn: 1018.0000 - fp: 278.0000 - tn: 736738.0000 - tp: 480.0000 - precision: 0.6332 - recall: 0.3204 - val_loss: 10.9031 - val_fn: 363.0000 - val_fp: 142.0000 - val_tn: 184358.0000 - val_tp: 12.0000 - val_precision: 0.0779 - val_recall: 0.0320 - 284ms/epoch - 6ms/step
Epoch 18/80
47/47 - 0s - loss: 1.5601 - fn: 946.0000 - fp: 276.0000 - tn: 736740.0000 - tp: 552.0000 - precision: 0.6667 - recall: 0.3685 - val_loss: 11.1696 - val_fn: 362.0000 - val_fp: 144.0000 - val_tn: 184356.0000 - val_tp: 13.0000 - val_precision: 0.0828 - val_recall: 0.0347 - 291ms/epoch - 6ms/step
Epoch 19/80
47/47 - 0s - loss: 1.4973 - fn: 904.0000 - fp: 302.0000 - tn: 736714.0000 - tp: 594.0000 - precision: 0.6629 - recall: 0.3965 - val_loss: 11.9913 - val_fn: 365.0000 - val_fp: 165.0000 - val_tn: 184335.0000 - val_tp: 10.0000 - val_precision: 0.0571 - val_recall: 0.0267 - 284ms/epoch - 6ms/step
Epoch 20/80
47/47 - 0s - loss: 1.3536 - fn: 812.0000 - fp: 260.0000 - tn: 736756.0000 - tp: 686.0000 - precision: 0.7252 - recall: 0.4579 - val_loss: 13.0062 - val_fn: 361.0000 - val_fp: 179.0000 - val_tn: 184321.0000 - val_tp: 14.0000 - val_precision: 0.0725 - val_recall: 0.0373 - 284ms/epoch - 6ms/step
Epoch 21/80
47/47 - 0s - loss: 1.2720 - fn: 764.0000 - fp: 290.0000 - tn: 736726.0000 - tp: 734.0000 - precision: 0.7168 - recall: 0.4900 - val_loss: 12.6913 - val_fn: 359.0000 - val_fp: 177.0000 - val_tn: 184323.0000 - val_tp: 16.0000 - val_precision: 0.0829 - val_recall: 0.0427 - 286ms/epoch - 6ms/step
Epoch 22/80
47/47 - 0s - loss: 1.2097 - fn: 736.0000 - fp: 269.0000 - tn: 736747.0000 - tp: 762.0000 - precision: 0.7391 - recall: 0.5087 - val_loss: 13.0530 - val_fn: 361.0000 - val_fp: 180.0000 - val_tn: 184320.0000 - val_tp: 14.0000 - val_precision: 0.0722 - val_recall: 0.0373 - 284ms/epoch - 6ms/step
Epoch 23/80
47/47 - 0s - loss: 1.1388 - fn: 701.0000 - fp: 280.0000 - tn: 736736.0000 - tp: 797.0000 - precision: 0.7400 - recall: 0.5320 - val_loss: 14.1371 - val_fn: 358.0000 - val_fp: 214.0000 - val_tn: 184286.0000 - val_tp: 17.0000 - val_precision: 0.0736 - val_recall: 0.0453 - 282ms/epoch - 6ms/step
Epoch 24/80
47/47 - 0s - loss: 1.1788 - fn: 691.0000 - fp: 306.0000 - tn: 736710.0000 - tp: 807.0000 - precision: 0.7251 - recall: 0.5387 - val_loss: 14.0537 - val_fn: 362.0000 - val_fp: 215.0000 - val_tn: 184285.0000 - val_tp: 13.0000 - val_precision: 0.0570 - val_recall: 0.0347 - 279ms/epoch - 6ms/step
Epoch 25/80
47/47 - 0s - loss: 1.1413 - fn: 663.0000 - fp: 291.0000 - tn: 736725.0000 - tp: 835.0000 - precision: 0.7416 - recall: 0.5574 - val_loss: 14.0959 - val_fn: 361.0000 - val_fp: 199.0000 - val_tn: 184301.0000 - val_tp: 14.0000 - val_precision: 0.0657 - val_recall: 0.0373 - 283ms/epoch - 6ms/step
Epoch 26/80
47/47 - 0s - loss: 1.0748 - fn: 645.0000 - fp: 293.0000 - tn: 736723.0000 - tp: 853.0000 - precision: 0.7443 - recall: 0.5694 - val_loss: 14.8305 - val_fn: 352.0000 - val_fp: 220.0000 - val_tn: 184280.0000 - val_tp: 23.0000 - val_precision: 0.0947 - val_recall: 0.0613 - 281ms/epoch - 6ms/step
Epoch 27/80
47/47 - 0s - loss: 0.9926 - fn: 581.0000 - fp: 286.0000 - tn: 736730.0000 - tp: 917.0000 - precision: 0.7623 - recall: 0.6121 - val_loss: 15.4247 - val_fn: 353.0000 - val_fp: 230.0000 - val_tn: 184270.0000 - val_tp: 22.0000 - val_precision: 0.0873 - val_recall: 0.0587 - 289ms/epoch - 6ms/step

Epoch 28/80
47/47 - 0s - loss: 1.0471 - fn: 602.0000 - fp: 290.0000 - tn: 736726.0000 - tp: 896.0000 - precision: 0.7555 - recall: 0.5981 - val_loss: 16.0797 - val_fn: 358.0000 - val_fp: 230.0000 - val_tn: 184270.0000 - val_tp: 17.0000 - val_precision: 0.0688 - val_recall: 0.0453 - 280ms/epoch - 6ms/step
Epoch 29/80
47/47 - 0s - loss: 0.9159 - fn: 540.0000 - fp: 254.0000 - tn: 736762.0000 - tp: 958.0000 - precision: 0.7904 - recall: 0.6395 - val_loss: 16.5473 - val_fn: 355.0000 - val_fp: 226.0000 - val_tn: 184274.0000 - val_tp: 20.0000 - val_precision: 0.0813 - val_recall: 0.0533 - 282ms/epoch - 6ms/step
Epoch 30/80
47/47 - 0s - loss: 0.8844 - fn: 518.0000 - fp: 272.0000 - tn: 736744.0000 - tp: 980.0000 - precision: 0.7827 - recall: 0.6542 - val_loss: 17.0779 - val_fn: 360.0000 - val_fp: 236.0000 - val_tn: 184264.0000 - val_tp: 15.0000 - val_precision: 0.0598 - val_recall: 0.0400 - 278ms/epoch - 6ms/step
Epoch 31/80
47/47 - 0s - loss: 0.9027 - fn: 503.0000 - fp: 257.0000 - tn: 736759.0000 - tp: 995.0000 - precision: 0.7947 - recall: 0.6642 - val_loss: 16.4801 - val_fn: 353.0000 - val_fp: 241.0000 - val_tn: 184259.0000 - val_tp: 22.0000 - val_precision: 0.0837 - val_recall: 0.0587 - 275ms/epoch - 6ms/step
Epoch 32/80
47/47 - 0s - loss: 0.8127 - fn: 457.0000 - fp: 241.0000 - tn: 736775.0000 - tp: 1041.0000 - precision: 0.8120 - recall: 0.6949 - val_loss: 17.2336 - val_fn: 358.0000 - val_fp: 233.0000 - val_tn: 184267.0000 - val_tp: 17.0000 - val_precision: 0.0680 - val_recall: 0.0453 - 280ms/epoch - 6ms/step
Epoch 33/80
47/47 - 0s - loss: 0.8478 - fn: 499.0000 - fp: 281.0000 - tn: 736735.0000 - tp: 999.0000 - precision: 0.7805 - recall: 0.6669 - val_loss: 17.2087 - val_fn: 360.0000 - val_fp: 255.0000 - val_tn: 184245.0000 - val_tp: 15.0000 - val_precision: 0.0556 - val_recall: 0.0400 - 277ms/epoch - 6ms/step
Epoch 34/80
47/47 - 0s - loss: 0.8600 - fn: 484.0000 - fp: 251.0000 - tn: 736765.0000 - tp: 1014.0000 - precision: 0.8016 - recall: 0.6769 - val_loss: 17.1795 - val_fn: 357.0000 - val_fp: 259.0000 - val_tn: 184241.0000 - val_tp: 18.0000 - val_precision: 0.0650 - val_recall: 0.0480 - 280ms/epoch - 6ms/step
Epoch 35/80
47/47 - 0s - loss: 0.8076 - fn: 453.0000 - fp: 240.0000 - tn: 736776.0000 - tp: 1045.0000 - precision: 0.8132 - recall: 0.6976 - val_loss: 18.9602 - val_fn: 356.0000 - val_fp: 262.0000 - val_tn: 184238.0000 - val_tp: 19.0000 - val_precision: 0.0676 - val_recall: 0.0507 - 274ms/epoch - 6ms/step
Epoch 36/80
47/47 - 0s - loss: 0.8326 - fn: 453.0000 - fp: 268.0000 - tn: 736748.0000 - tp: 1045.0000 - precision: 0.7959 - recall: 0.6976 - val_loss: 18.4355 - val_fn: 358.0000 - val_fp: 264.0000 - val_tn: 184236.0000 - val_tp: 17.0000 - val_precision: 0.0605 - val_recall: 0.0453 - 278ms/epoch - 6ms/step
Epoch 37/80
47/47 - 0s - loss: 0.7719 - fn: 432.0000 - fp: 276.0000 - tn: 736740.0000 - tp: 1066.0000 - precision: 0.7943 - recall: 0.7116 - val_loss: 18.7679 - val_fn: 356.0000 - val_fp: 271.0000 - val_tn: 184229.0000 - val_tp: 19.0000 - val_precision: 0.0655 - val_recall: 0.0507 - 278ms/epoch - 6ms/step
Epoch 38/80
47/47 - 0s - loss: 0.6629 - fn: 384.0000 - fp: 228.0000 - tn: 736788.0000 - tp: 1114.0000 - precision: 0.8301 - recall: 0.7437 - val_loss: 18.8800 - val_fn: 355.0000 - val_fp: 258.0000 - val_tn: 184242.0000 - val_tp: 20.0000 - val_precision: 0.0719 - val_recall: 0.0533 - 277ms/epoch - 6ms/step
Epoch 39/80
47/47 - 0s - loss: 0.6640 - fn: 370.0000 - fp: 229.0000 - tn: 736787.0000 - tp: 1128.0000 - precision: 0.8312 - recall: 0.7530 - val_loss: 19.6103 - val_fn: 365.0000 - val_fp: 288.0000 - val_tn: 184212.0000 - val_tp: 10.0000 - val_precision: 0.0336 - val_recall: 0.0267 - 278ms/epoch - 6ms/step
Epoch 40/80
47/47 - 0s - loss: 0.7933 - fn: 417.0000 - fp: 243.0000 - tn: 736773.0000 - tp: 1081.0000 - precision: 0.8165 - recall: 0.7216 - val_loss: 18.7635 - val_fn: 357.0000 - val_fp: 270.0000 - val_tn: 184230.0000 - val_tp: 18.0000 - val_precision: 0.0625 - val_recall: 0.0480 - 276ms/epoch - 6ms/step
Epoch 41/80
47/47 - 0s - loss: 0.8209 - fn: 457.0000 - fp: 279.0000 - tn: 736737.0000 - tp: 1041.0000 - precision: 0.7886 - recall: 0.6949 - val_loss: 20.0925 - val_fn: 358.0000 - val_fp: 291.0000 - val_tn: 184209.0000 - val_tp: 17.0000 - val_precision: 0.0552 - val_recall: 0.0453 - 273ms/epoch - 6ms/step
Epoch 42/80
47/47 - 0s - loss: 0.7430 - fn: 398.0000 - fp: 244.0000 - tn: 736772.0000 - tp: 1100.0000 - precision: 0.8185 - recall: 0.7343 - val_loss: 20.5984 - val_fn: 357.0000 - val_fp: 276.0000 - val_tn: 184224.0000 - val_tp: 18.0000 - val_precision: 0.0612 - val_recall: 0.0480 - 273ms/epoch - 6ms/step
Epoch 43/80
47/47 - 0s - loss: 0.7370 - fn: 405.0000 - fp: 243.0000 - tn: 736773.0000 - tp: 1093.0000 - precision: 0.8181 - recall: 0.7296 - val_loss: 21.2512 - val_fn: 358.0000 - val_fp: 288.0000 - val_tn: 184212.0000 - val_tp: 17.0000 - val_precision: 0.0557 - val_recall: 0.0453 - 288ms/epoch - 6ms/step
Epoch 44/80
47/47 - 0s - loss: 0.8189 - fn: 401.0000 - fp: 263.0000 - tn: 736753.0000 - tp: 1097.0000 - precision: 0.8066 - recall: 0.7323 - val_loss: 20.6894 - val_fn: 355.0000 - val_fp: 290.0000 - val_tn: 184210.0000 - val_tp: 20.0000 - val_precision: 0.0645 - val_recall: 0.0533 - 278ms/epoch - 6ms/step
Epoch 45/80
47/47 - 0s - loss: 0.7971 - fn: 401.0000 - fp: 257.0000 - tn: 736759.0000 - tp: 1097.0000 - precision: 0.8102 - recall: 0.7323 - val_loss: 20.1600 - val_fn: 356.0000 - val_fp: 276.0000 - val_tn: 184224.0000 - val_tp: 19.0000 - val_precision: 0.0644 - val_recall: 0.0507 - 276ms/epoch - 6ms/step
Epoch 46/80
47/47 - 0s - loss: 0.6911 - fn: 388.0000 - fp: 253.0000 - tn: 736763.0000 - tp: 1110.0000 - precision: 0.8144 - recall: 0.7410 - val_loss: 21.0212 - val_fn: 358.0000 - val_fp: 282.0000 - val_tn: 184218.0000 - val_tp: 17.0000 - val_precision: 0.0569 - val_recall: 0.0453 - 275ms/epoch - 6ms/step
Epoch 47/80
47/47 - 0s - loss: 0.7423 - fn: 371.0000 - fp: 250.0000 - tn: 736766.0000 - tp: 1127.0000 - precision: 0.8184 - recall: 0.7523 - val_loss: 21.0278 - val_fn: 351.0000 - val_fp: 293.0000 - val_tn: 184207.0000 - val_tp: 24.0000 - val_precision: 0.0757 - val_recall: 0.0640 - 285ms/epoch - 6ms/step
Epoch 48/80
47/47 - 0s - loss: 0.6817 - fn: 359.0000 - fp: 236.0000 - tn: 736780.0000 - tp: 1139.0000 - precision: 0.8284 - recall: 0.7603 - val_loss: 21.4591 - val_fn: 352.0000 - val_fp: 291.0000 - val_tn: 184209.0000 - val_tp: 23.0000 - val_precision: 0.0732 - val_recall: 0.0613 - 331ms/epoch - 7ms/step
Epoch 49/80
47/47 - 0s - loss: 0.7043 - fn: 375.0000 - fp: 268.0000 - tn: 736748.0000 - tp: 1123.0000 - precision: 0.8073 - recall: 0.7497 - val_loss: 21.4029 - val_fn: 351.0000 - val_fp: 287.0000 - val_tn: 184213.0000 - val_tp: 24.0000 - val_precision: 0.0772 - val_recall: 0.0640 - 284ms/epoch - 6ms/step
Epoch 50/80
47/47 - 0s - loss: 0.7370 - fn: 374.0000 - fp: 248.0000 - tn: 736768.0000 - tp: 1124.0000 - precision: 0.8192 - recall: 0.7503 - val_loss: 23.1988 - val_fn: 357.0000 - val_fp: 305.0000 - val_tn: 184195.0000 - val_tp: 18.0000 - val_precision: 0.0557 - val_recall: 0.0480 - 274ms/epoch - 6ms/step
Epoch 51/80
47/47 - 0s - loss: 0.7602 - fn: 377.0000 - fp: 266.0000 - tn: 736750.0000 - tp: 1121.0000 - precision: 0.8082 - recall: 0.7483 - val_loss: 22.1407 - val_fn: 358.0000 - val_fp: 293.0000 - val_tn: 184207.0000 - val_tp: 17.0000 - val_precision: 0.0548 - val_recall: 0.0453 - 276ms/epoch - 6ms/step
Epoch 52/80
47/47 - 0s - loss: 0.7724 - fn: 377.0000 - fp: 258.0000 - tn: 736758.0000 - tp: 1121.0000 - precision: 0.8129 - recall: 0.7483 - val_loss: 22.3119 - val_fn: 358.0000 - val_fp: 302.0000 - val_tn: 184198.0000 - val_tp: 17.0000 - val_precision: 0.0533 - val_recall: 0.0453 - 272ms/epoch - 6ms/step
Epoch 53/80
47/47 - 0s - loss: 0.6898 - fn: 349.0000 - fp: 255.0000 - tn: 736761.0000 - tp: 1149.0000 - precision: 0.8184 - recall: 0.7670 - val_loss: 21.5666 - val_fn: 353.0000 - val_fp: 291.0000 - val_tn: 184209.0000 - val_tp: 22.0000 - val_precision: 0.0703 - val_recall: 0.0587 - 271ms/epoch - 6ms/step
Epoch 54/80
47/47 - 0s - loss: 0.6019 - fn: 329.0000 - fp: 211.0000 - tn: 736805.0000 - tp: 1169.0000 - precision: 0.8471 - recall: 0.7804 - val_loss: 23.4124 - val_fn: 352.0000 - val_fp: 297.0000 - val_tn: 184203.0000 - val_tp: 23.0000 - val_precision: 0.0719 - val_recall: 0.0613 - 273ms/epoch - 6ms/step

Epoch 55/80
47/47 - 0s - loss: 0.5511 - fn: 278.0000 - fp: 189.0000 - tn: 736827.0000 - tp: 1220.0000 - precision: 0.8659 - recall: 0.8144 - val_loss: 23.0416 - val_fn: 356.0000 - val_fp: 294.0000 - val_tn: 184206.0000 - val_tp: 19.0000 - val_precision: 0.0607 - val_recall: 0.0507 - 276ms/epoch - 6ms/step
Epoch 56/80
47/47 - 0s - loss: 0.5228 - fn: 285.0000 - fp: 213.0000 - tn: 736803.0000 - tp: 1213.0000 - precision: 0.8506 - recall: 0.8097 - val_loss: 23.7189 - val_fn: 355.0000 - val_fp: 294.0000 - val_tn: 184206.0000 - val_tp: 20.0000 - val_precision: 0.0637 - val_recall: 0.0533 - 276ms/epoch - 6ms/step
Epoch 57/80
47/47 - 0s - loss: 0.6450 - fn: 319.0000 - fp: 225.0000 - tn: 736791.0000 - tp: 1179.0000 - precision: 0.8397 - recall: 0.7870 - val_loss: 23.5610 - val_fn: 359.0000 - val_fp: 297.0000 - val_tn: 184203.0000 - val_tp: 16.0000 - val_precision: 0.0511 - val_recall: 0.0427 - 327ms/epoch - 7ms/step
Epoch 58/80
47/47 - 0s - loss: 0.7506 - fn: 343.0000 - fp: 244.0000 - tn: 736772.0000 - tp: 1155.0000 - precision: 0.8256 - recall: 0.7710 - val_loss: 23.0518 - val_fn: 355.0000 - val_fp: 305.0000 - val_tn: 184195.0000 - val_tp: 20.0000 - val_precision: 0.0615 - val_recall: 0.0533 - 275ms/epoch - 6ms/step
Epoch 59/80
47/47 - 0s - loss: 0.6623 - fn: 325.0000 - fp: 239.0000 - tn: 736777.0000 - tp: 1173.0000 - precision: 0.8307 - recall: 0.7830 - val_loss: 23.7698 - val_fn: 355.0000 - val_fp: 300.0000 - val_tn: 184200.0000 - val_tp: 20.0000 - val_precision: 0.0625 - val_recall: 0.0533 - 269ms/epoch - 6ms/step
Epoch 60/80
47/47 - 0s - loss: 0.6930 - fn: 352.0000 - fp: 257.0000 - tn: 736759.0000 - tp: 1146.0000 - precision: 0.8168 - recall: 0.7650 - val_loss: 24.0256 - val_fn: 353.0000 - val_fp: 297.0000 - val_tn: 184203.0000 - val_tp: 22.0000 - val_precision: 0.0690 - val_recall: 0.0587 - 276ms/epoch - 6ms/step
Epoch 61/80
47/47 - 0s - loss: 0.7309 - fn: 356.0000 - fp: 265.0000 - tn: 736751.0000 - tp: 1142.0000 - precision: 0.8117 - recall: 0.7623 - val_loss: 24.2147 - val_fn: 360.0000 - val_fp: 302.0000 - val_tn: 184198.0000 - val_tp: 15.0000 - val_precision: 0.0473 - val_recall: 0.0400 - 274ms/epoch - 6ms/step
Epoch 62/80
47/47 - 0s - loss: 0.6164 - fn: 309.0000 - fp: 217.0000 - tn: 736799.0000 - tp: 1189.0000 - precision: 0.8457 - recall: 0.7937 - val_loss: 24.3325 - val_fn: 350.0000 - val_fp: 288.0000 - val_tn: 184212.0000 - val_tp: 25.0000 - val_precision: 0.0799 - val_recall: 0.0667 - 280ms/epoch - 6ms/step
Epoch 63/80
47/47 - 0s - loss: 0.7337 - fn: 352.0000 - fp: 251.0000 - tn: 736765.0000 - tp: 1146.0000 - precision: 0.8203 - recall: 0.7650 - val_loss: 25.6936 - val_fn: 354.0000 - val_fp: 306.0000 - val_tn: 184194.0000 - val_tp: 21.0000 - val_precision: 0.0642 - val_recall: 0.0560 - 274ms/epoch - 6ms/step
Epoch 64/80
47/47 - 0s - loss: 0.6183 - fn: 310.0000 - fp: 218.0000 - tn: 736798.0000 - tp: 1188.0000 - precision: 0.8450 - recall: 0.7931 - val_loss: 25.4686 - val_fn: 359.0000 - val_fp: 307.0000 - val_tn: 184193.0000 - val_tp: 16.0000 - val_precision: 0.0495 - val_recall: 0.0427 - 274ms/epoch - 6ms/step
Epoch 65/80
47/47 - 0s - loss: 0.5999 - fn: 316.0000 - fp: 214.0000 - tn: 736802.0000 - tp: 1182.0000 - precision: 0.8467 - recall: 0.7891 - val_loss: 25.9277 - val_fn: 354.0000 - val_fp: 298.0000 - val_tn: 184202.0000 - val_tp: 21.0000 - val_precision: 0.0658 - val_recall: 0.0560 - 274ms/epoch - 6ms/step
Epoch 66/80
47/47 - 0s - loss: 0.5300 - fn: 244.0000 - fp: 178.0000 - tn: 736838.0000 - tp: 1254.0000 - precision: 0.8757 - recall: 0.8371 - val_loss: 25.8634 - val_fn: 352.0000 - val_fp: 300.0000 - val_tn: 184200.0000 - val_tp: 23.0000 - val_precision: 0.0712 - val_recall: 0.0613 - 275ms/epoch - 6ms/step
Epoch 67/80
47/47 - 0s - loss: 0.4271 - fn: 229.0000 - fp: 173.0000 - tn: 736843.0000 - tp: 1269.0000 - precision: 0.8800 - recall: 0.8471 - val_loss: 26.1994 - val_fn: 356.0000 - val_fp: 299.0000 - val_tn: 184201.0000 - val_tp: 19.0000 - val_precision: 0.0597 - val_recall: 0.0507 - 275ms/epoch - 6ms/step
Epoch 68/80
47/47 - 0s - loss: 0.4562 - fn: 224.0000 - fp: 169.0000 - tn: 736847.0000 - tp: 1274.0000 - precision: 0.8829 - recall: 0.8505 - val_loss: 25.6634 - val_fn: 352.0000 - val_fp: 304.0000 - val_tn: 184196.0000 - val_tp: 23.0000 - val_precision: 0.0703 - val_recall: 0.0613 - 275ms/epoch - 6ms/step
Epoch 69/80
47/47 - 0s - loss: 0.4189 - fn: 211.0000 - fp: 156.0000 - tn: 736860.0000 - tp: 1287.0000 - precision: 0.8919 - recall: 0.8591 - val_loss: 26.4905 - val_fn: 349.0000 - val_fp: 305.0000 - val_tn: 184195.0000 - val_tp: 26.0000 - val_precision: 0.0785 - val_recall: 0.0693 - 272ms/epoch - 6ms/step
Epoch 70/80
47/47 - 0s - loss: 0.4674 - fn: 227.0000 - fp: 164.0000 - tn: 736852.0000 - tp: 1271.0000 - precision: 0.8857 - recall: 0.8485 - val_loss: 26.1591 - val_fn: 351.0000 - val_fp: 312.0000 - val_tn: 184188.0000 - val_tp: 24.0000 - val_precision: 0.0714 - val_recall: 0.0640 - 270ms/epoch - 6ms/step
Epoch 71/80
47/47 - 0s - loss: 0.4395 - fn: 204.0000 - fp: 158.0000 - tn: 736858.0000 - tp: 1294.0000 - precision: 0.8912 - recall: 0.8638 - val_loss: 26.3328 - val_fn: 350.0000 - val_fp: 309.0000 - val_tn: 184191.0000 - val_tp: 25.0000 - val_precision: 0.0749 - val_recall: 0.0667 - 279ms/epoch - 6ms/step
Epoch 72/80
47/47 - 0s - loss: 0.4320 - fn: 220.0000 - fp: 155.0000 - tn: 736861.0000 - tp: 1278.0000 - precision: 0.8918 - recall: 0.8531 - val_loss: 26.7624 - val_fn: 351.0000 - val_fp: 301.0000 - val_tn: 184199.0000 - val_tp: 24.0000 - val_precision: 0.0738 - val_recall: 0.0640 - 274ms/epoch - 6ms/step
Epoch 73/80
47/47 - 0s - loss: 0.3898 - fn: 201.0000 - fp: 162.0000 - tn: 736854.0000 - tp: 1297.0000 - precision: 0.8890 - recall: 0.8658 - val_loss: 26.6226 - val_fn: 354.0000 - val_fp: 312.0000 - val_tn: 184188.0000 - val_tp: 21.0000 - val_precision: 0.0631 - val_recall: 0.0560 - 275ms/epoch - 6ms/step
Epoch 74/80
47/47 - 0s - loss: 0.3290 - fn: 172.0000 - fp: 130.0000 - tn: 736886.0000 - tp: 1326.0000 - precision: 0.9107 - recall: 0.8852 - val_loss: 27.1394 - val_fn: 354.0000 - val_fp: 309.0000 - val_tn: 184191.0000 - val_tp: 21.0000 - val_precision: 0.0636 - val_recall: 0.0560 - 283ms/epoch - 6ms/step
Epoch 75/80
47/47 - 0s - loss: 0.3557 - fn: 157.0000 - fp: 117.0000 - tn: 736899.0000 - tp: 1341.0000 - precision: 0.9198 - recall: 0.8952 - val_loss: 27.5317 - val_fn: 359.0000 - val_fp: 317.0000 - val_tn: 184183.0000 - val_tp: 16.0000 - val_precision: 0.0480 - val_recall: 0.0427 - 278ms/epoch - 6ms/step
Epoch 76/80
47/47 - 0s - loss: 0.4313 - fn: 200.0000 - fp: 152.0000 - tn: 736864.0000 - tp: 1298.0000 - precision: 0.8952 - recall: 0.8665 - val_loss: 27.9863 - val_fn: 360.0000 - val_fp: 317.0000 - val_tn: 184183.0000 - val_tp: 15.0000 - val_precision: 0.0452 - val_recall: 0.0400 - 273ms/epoch - 6ms/step
Epoch 77/80
47/47 - 0s - loss: 0.4811 - fn: 225.0000 - fp: 173.0000 - tn: 736843.0000 - tp: 1273.0000 - precision: 0.8804 - recall: 0.8498 - val_loss: 27.7279 - val_fn: 352.0000 - val_fp: 309.0000 - val_tn: 184191.0000 - val_tp: 23.0000 - val_precision: 0.0693 - val_recall: 0.0613 - 273ms/epoch - 6ms/step
Epoch 78/80
47/47 - 0s - loss: 0.5152 - fn: 251.0000 - fp: 179.0000 - tn: 736837.0000 - tp: 1247.0000 - precision: 0.8745 - recall: 0.8324 - val_loss: 27.7865 - val_fn: 354.0000 - val_fp: 314.0000 - val_tn: 184186.0000 - val_tp: 21.0000 - val_precision: 0.0627 - val_recall: 0.0560 - 270ms/epoch - 6ms/step
Epoch 79/80
47/47 - 0s - loss: 0.7000 - fn: 302.0000 - fp: 254.0000 - tn: 736762.0000 - tp: 1196.0000 - precision: 0.8248 - recall: 0.7984 - val_loss: 28.5903 - val_fn: 363.0000 - val_fp: 319.0000 - val_tn: 184181.0000 - val_tp: 12.0000 - val_precision: 0.0363 - val_recall: 0.0320 - 276ms/epoch - 6ms/step
Epoch 80/80
47/47 - 0s - loss: 0.8000 - fn: 348.0000 - fp: 282.0000 - tn: 736734.0000 - tp: 1150.0000 - precision: 0.8031 - recall: 0.7677 - val_loss: 27.7323 - val_fn: 355.0000 - val_fp: 313.0000 - val_tn: 184187.0000 - val_tp: 20.0000 - val_precision: 0.0601 - val_recall: 0.0533 - 270ms/epoch - 6ms/step

In [365]:
model.evaluate(np_Xtest,np_ytest)

12/12 [==============================] - 0s 4ms/step - loss: 27.7323 - fn: 355.0000 - fp: 313.0000 - tn: 184187.0000 - tp: 20.0000 - precision: 0.0601 - recall: 0.0533

[27.7323055267334,
 355.0,
 313.0,
 184187.0,
 20.0,
 0.060060061514377594,
 0.0533333346247673]